body {
    color: #666666;
    font-size: 12px;
    font-family: "BPreplay";
	src: url('../fonts/BPreplay.otf');
    font-weight: normal;
    font-style: normal;
}
#navigation ul li a {
    color: #3E4246;
    font-size: 12px;
    font-family: "BPreplay";
	src: url('../fonts/BPreplay.otf');
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
#navigation ul.sub-menu li a {
    color: #ffffff;
    font-size: 12px;
    font-family: "BPreplay";
	src: url('../fonts/BPreplay.otf');
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
#topdhewe .tombol a span{
	color: #ffffff;
    font-size: 14px;
    font-family: "BPreplayBoldItalics";
	src: url('../fonts/BPreplayBoldItalics.otf');
    font-weight: normal;
    font-style: normal;
    text-transform: none;
	display: inline-block;
    margin-top: 1px;
    position: relative;
    vertical-align: top;
}
#topdhewe .bawah span {
	color: #000000;
    font-size: 21px;
    font-family: "BPreplayBold";
	src: url('../fonts/BPreplayBold.otf');
    font-weight: normal;
    font-style: normal;
    text-transform: none;
	display: inline-block;
    margin-top: 5px;
    position: relative;
    vertical-align: top;
}
#topdhewe .bawah span .reguler{
    font-family: "BPreplay";
	src: url('../fonts/BPreplayBoldItalics.otf');
	display: inline-block;
}
h1 {
    font-family: "BPreplay" !important;
    font-size: 24px;
}
h2 {
    font-family: "BPreplay" !important;
    font-size: 20px;
}
h3 {
    font-family: "BPreplay" !important;
    font-size: 18px;
}
h4 {
    font-family: "BPreplay" !important;
    font-size: 16px;
}
h5 {
    font-family: "BPreplay" !important;
    font-size: 14px;
}
h6 {
    font-family: "BPreplay" !important;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    color: #666666;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    font-style: normal;
}
.caption.themecolor_background {
    background-color: #75a405;
}
.caption.themecolor_normal {
    color: #75a405;
}